.comment {
  margin-top: 6px;
  border-radius: 10px;
  background-color: $primary-blue;
  border: 1px solid $primary-blue-400;
  height: 70px;
  padding: 15px 24px;

  &__text {
    line-height: 1.33em;
  }

  &__email {
    color: $primary-links;
    text-decoration: underline;
  }
}