.find-us {

  & h3 {
    font-family: $font-stack-manrope;
    font-size: 1.33em;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
  }

  & ol {
    color: $primary-gray-400;
    padding-left: 18px;
  }

  & li {
    font-size: 1.133em;
    line-height: 1.47;
  }

  & p {
    color: $primary-font;
    margin: 0;
  }
}
