.body {
  font-family: $font-stack-arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $primary-font;
}

.main {

  &__wrapper {
    padding: 0 calc(50% - 585px);
  }

  &__header {
    padding-top: 48px;
    font-family: $font-stack-manrope;
    font-size: 3.33em;
    font-weight: 800;
    letter-spacing: -1.5px;
  }
}

