//Fonts
$font-stack-arial: "Arial", sans-serif;
$font-stack-manrope: "Manrope", "Arial", sans-serif;

//Colors
$primary-links: #2698FC;
$primary-white: #FFF;
$primary-white-200: #F2F5F7;
$primary-white-400: #E0E6EB;
$primary-black: #000;
$primary-background-gray: rgba(255, 255, 255, 0.15);
$primary-gray: #C6CCD1;
$primary-gray-400: #989EA3;
$primary-gray-600: #5D6266;
$primary-font: #112230;

$primary-blue: #F0FBFF;
$primary-blue-400: #D2F3FE;