  //Fonts
  $font-stack-arial: "Arial", sans-serif;
  $font-stack-manrope: "Manrope", "Arial", sans-serif;
  
  //Colors
  $primary-links: #2698FC;
  $primary-white: #FFF;
  $primary-black: #000;
  $primary-background-blue: #F0FBFF;
  $primary-background-gray: rgba(255, 255, 255, 0.15);
  $primary-gray: #C6CCD1;
  $primary-font: #112230;
  $links-underline: #E0E6EB;
  $links-gray: #5D6266;
  $checkbox-background: #F2F5F7;
  $border-blue: #D2F3FE;
  $list-numbers: #989EA3;