@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
.main__payment__block[checked] .main__payment__radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D9FF5), color-stop(127.5%, #4C2AD5));
  background: -webkit-linear-gradient(top, #3D9FF5 0%, #4C2AD5 127.5%);
  background: -o-linear-gradient(top, #3D9FF5 0%, #4C2AD5 127.5%);
  background: linear-gradient(180deg, #3D9FF5 0%, #4C2AD5 127.5%);
}

.main__payment__radio {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #E0E6EB;
}

.body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #112230;
}

.header {
  min-height: 90px;
}

.header__wrapper {
  padding: 0 -webkit-calc(50% - 585px);
  padding: 0 calc(50% - 585px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: inherit;
}

.header__logo-box {
  min-height: inherit;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31.62393%;
}

.header__menu {
  min-height: inherit;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__list {
  padding-left: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
}

.header__menu__item {
  list-style: none;
  margin-right: 30px;
}

.header__menu__link {
  position: relative;
}

.header__menu__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -8px;
  left: 0;
  background-color: #E0E6EB;
}

.header__menu__link[disabled] {
  opacity: 0.3;
}

.header__menu__link[disabled]:after {
  display: none;
}

.header__contacts {
  min-height: inherit;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -ms-grid-rows: 49px 1fr;
      grid-template-rows: 49px 1fr;
}

.header__contacts__phone {
  margin-top: auto;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.333em;
  font-weight: 800;
  letter-spacing: -0.2px;
}

.header__contacts__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__contacts__link {
  color: #5D6266;
  font-size: 0.8em;
  margin-left: 6px;
  line-height: 2;
}

.breadcrumbs {
  padding: 5px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.breadcrumbs__item {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs__item:last-child::before, .breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #E0E6EB;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 10px;
  width: 6px;
  height: 4px;
  background-image: url("../background-imges/drop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link {
  color: #5D6266;
  font-size: 0.8em;
}

.main {
  padding: 0 -webkit-calc(50% - 585px);
  padding: 0 calc(50% - 585px);
}

.main__header {
  padding-top: 48px;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 3.33em;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.main__course {
  padding-top: 41px;
}

.main__course__header {
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.867em;
  margin-bottom: 23px;
  letter-spacing: -0.9px;
}

.main__course__select {
  border: 1px solid #E0E6EB;
  height: 50px;
  width: 100%;
  font-size: 1.133em;
  font-family: "Arial", sans-serif;
  padding-left: 15px;
  padding-right: 54px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.main__course__select-wrapper {
  position: relative;
  max-width: 570px;
}

.main__course__select-wrapper::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 50px;
  top: 0;
  right: 0;
  cursor: pointer;
  pointer-events: none;
  background: url("../background-imges/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main__payment {
  padding-top: 52px;
}

.main__payment__header {
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.867em;
  letter-spacing: -0.9px;
  margin-bottom: -7px;
}

.main__payment__methods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main__payment__block {
  position: relative;
  min-height: 160px;
  max-width: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E0E6EB;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: 30px 30px 0 0;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main__payment__block:nth-child(3n) {
  margin-right: 0;
}

.main__payment__radio {
  position: absolute;
  top: 15px;
  right: 15px;
}

.main__payment__block[checked] {
  border: 1px solid #2698FC;
}

.main__payment__block[checked] .main__payment__radio {
  position: absolute;
  top: 15px;
  right: 15px;
}

.main__payment__block[checked] .main__payment__radio::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 6px;
  width: 15px;
  height: 15px;
  background-image: url("../background-imges/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main__payment__method {
  margin: 0;
  font-size: 1.133em;
  text-align: center;
  line-height: 1.47;
}

.main__final {
  padding-top: 54px;
  max-width: 870px;
}

.main__final__header {
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.867em;
  letter-spacing: -0.9px;
  margin-bottom: 23px;
}

.main__final__block {
  padding: 35px 50px 30px 50px;
  border: 1px solid #E0E6EB;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.main__final__sum {
  color: #5D6266;
  font-size: 1.133em;
  margin-bottom: 20px;
}

.main__final__cost {
  height: 1em;
  font-size: 2.667em;
  font-weight: 800;
  font-family: "Manrope", "Arial", sans-serif;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

.main__final__promo {
  color: #2698FC;
  border-bottom: 1px dashed #2698FC;
}

.main__final__bonus {
  margin-top: 54px;
}

.main__final__row {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__final__label {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-left: 4px;
}

.main__final__label:last-child {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__final__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.main__final__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F5F7;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 34px;
          border-radius: 34px;
}

.main__final__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: -5px;
  background-color: #C6CCD1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 34px;
          border-radius: 34px;
}

.main__final__checkbox:checked + .main__final__slider {
  background-color: #2196F3;
}

.main__final__checkbox:checked + .main__final__slider::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.main__final__text {
  margin: -4px 0 0 10px;
}

.main__final__comment {
  margin-top: 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #F0FBFF;
  border: 1px solid #D2F3FE;
  height: 70px;
  padding: 15px 24px;
}

.main__final__comment-text {
  line-height: 1.33em;
}

.main__final__lower {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
}

.main__final__find-header {
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.33em;
  font-weight: 800;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

.main__final__find-list {
  color: #989EA3;
  padding-left: 18px;
}

.main__final__find-item {
  font-size: 1.133em;
  line-height: 1.47;
}

.main__final__find-str {
  color: #112230;
  margin: 0;
}

.main__final__service-code {
  text-align: center;
  margin-top: 14px;
  font-size: 1.133em;
}

.footer {
  height: 100px;
  margin-top: 220px;
  padding-top: 58px;
  width: 100%;
  background-image: url("../background-imges/footer-bg.jpg");
}

.footer__wrapper {
  padding: 0 -webkit-calc(50% - 585px);
  padding: 0 calc(50% - 585px);
  height: 100%;
}
/*# sourceMappingURL=style.css.map */