@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
.body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #112230;
}

.header {
  min-height: 90px;
}

.header__wrapper {
  padding: 0 -webkit-calc(50% - 585px);
  padding: 0 calc(50% - 585px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: inherit;
}

.header__logo-box {
  min-height: inherit;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31.62393%;
}

.header__menu {
  min-height: inherit;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__list {
  padding-left: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
}

.header__menu__item {
  list-style: none;
  margin-right: 30px;
}

.header__menu__link {
  position: relative;
}

.header__menu__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -8px;
  left: 0;
  background-color: #E0E6EB;
}

.header__menu__link[disabled] {
  opacity: 0.3;
}

.header__menu__link[disabled]:after {
  display: none;
}

.header__contacts {
  min-height: inherit;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  justify-items: end;
  -ms-grid-rows: 49px 1fr;
      grid-template-rows: 49px 1fr;
}

.header__contacts__phone {
  margin-top: auto;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 1.333em;
  font-weight: 800;
  letter-spacing: -0.2px;
}

.header__contacts__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__contacts__link {
  color: #5D6266;
  font-size: 0.8em;
  margin-left: 6px;
  line-height: 2;
}

.breadcrumbs {
  padding: 5px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.breadcrumbs__item {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs__item:last-child::before, .breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #E0E6EB;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 10px;
  width: 6px;
  height: 4px;
  background-image: url("../background-imges/drop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link {
  color: #5D6266;
  font-size: 0.8em;
}

.main {
  padding: 0 -webkit-calc(50% - 585px);
  padding: 0 calc(50% - 585px);
}

.main__header {
  padding-top: 48px;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 3.33em;
  font-weight: 800;
  letter-spacing: -1.5px;
}
/*# sourceMappingURL=style.css.map */