@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

//Fonts
$font-stack-arial: "Arial", sans-serif;
$font-stack-manrope: "Manrope", "Arial", sans-serif;

//Colors
$primary-links: #2698FC;
$primary-white: #FFF;
$primary-black: #000;
$primary-background-blue: #F0FBFF;
$primary-background-gray: rgba(255, 255, 255, 0.15);
$primary-gray: #C6CCD1;
$primary-font: #112230;
$links-underline: #E0E6EB;
$links-gray: #5D6266;
$checkbox-background: #F2F5F7;
$border-blue: #D2F3FE;
$list-numbers: #989EA3;

%checkback-on {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #3D9FF5 0%, #4C2AD5 127.5%);
}

%checkback {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $primary-white;
  border: 1px solid $links-underline;
}

%underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -8px;
  left: 0;
  background-color: $links-underline;
}

.body {
  font-family: $font-stack-arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $primary-font;
}

.header {
  min-height: 90px;

  &__wrapper {
    padding: 0 calc(50% - 585px);
    display: flex;
    min-height: inherit;
  }

  &__logo-box {
    min-height: inherit;
    display: grid;
    align-items: center;
    width: 370px/1170px*100%;
  }

  &__menu {
    min-height: inherit;
    display: grid;
    align-items: center;

    &__list {
      padding-left: 13px;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    &__item {
      list-style: none;
      margin-right: 30px;
    }

    &__link {
      position: relative;
    }

    &__link::after {
      @extend %underline;
    }

    &__link[disabled] {
      opacity: 0.3;
    }

    &__link[disabled]::after {
      display: none;
    }
  }

  &__contacts {
    min-height: inherit;
    flex-grow: 1;
    display: grid;
    justify-items: end;
    grid-template-rows: 49px 1fr;

    &__phone {
      margin-top: auto;
      font-family: $font-stack-manrope;
      font-size: 1.333em;
      font-weight: 800;
      letter-spacing: -0.2px;
    }

    &__media {
      display: flex;
      list-style: none;
    }

    &__link {
      color: $links-gray;
      font-size: 0.8em;
      margin-left: 6px; 
      line-height: 2;
    }
  }
}

.breadcrumbs {
  padding: 5px 0 0 0;
  display: flex;
  list-style: none;
  margin-bottom: 0;

  &__item {
    margin-right: 20px;
    position: relative;
  }

  &__item:last-child::before,
  &__item:last-child::after {
    display: none;
  }

  &__item:before {
    @extend %underline;
    bottom: -2px;
  }

  &__item::after {
    content: "";
    position: absolute;
    right: -14px;
    top: 10px;
    width: 6px;
    height: 4px;
    background-image: url('../background-imges/drop.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link {
    color: $links-gray;
    font-size: 0.8em;
  }
}

.main {
  padding: 0 calc(50% - 585px);

  &__header {
    padding-top: 48px;
    font-family: $font-stack-manrope;
    font-size: 3.33em;
    font-weight: 800;
    letter-spacing: -1.5px;
  }

  &__course {
    padding-top: 41px;

    &__header {
      font-family: $font-stack-manrope;
      font-size: 1.867em;
      margin-bottom: 23px;
      letter-spacing: -0.9px;
    }

    &__select {
      border: 1px solid $links-underline;
      height: 50px;
      width: 100%;
      font-size: 1.133em;
      font-family: $font-stack-arial;
      padding-left: 15px; 
      padding-right: 54px;
      appearance: none;
      border-radius: 5px;
    }

    &__select-wrapper {
      position: relative;
      max-width: 570px;
    }

    &__select-wrapper::after {
      content: "";
      position: absolute;
      width: 52px;
      height: 50px;
      top: 0;
      right: 0;
      cursor: pointer;
      pointer-events:none;
      background: url('../background-imges/select-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__payment {
    padding-top: 52px;

    &__header {
      font-family: $font-stack-manrope;
      font-size: 1.867em;
      letter-spacing: -0.9px;
      margin-bottom: -7px;
    }

    &__methods {
      display: flex;
      flex-wrap: wrap;
    }

    &__block {
      position: relative;
      min-height: 160px;
      max-width: 270px;
      box-sizing: border-box;
      border: 1px solid $links-underline;
      border-radius: 20px; 
      margin: 30px 30px 0 0;
      cursor: pointer;
      display: grid;
      place-items: center;
    }

    &__block:nth-child(3n) {
      margin-right: 0;
    }

    &__radio {
      position: absolute;
      @extend %checkback;
      top: 15px;
      right: 15px;
    }

    &__block[checked] {
      border: 1px solid $primary-links;
    }

    &__block[checked] .main__payment__radio {
      position: absolute;
      @extend %checkback-on;
      top: 15px;
      right: 15px;
    }

    &__block[checked] .main__payment__radio::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 6px;
      width: 15px;
      height: 15px;
      background-image: url('../background-imges/checkbox.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &__method {
      margin: 0;
      font-size: 1.133em;
      text-align: center;
      line-height: 1.47;
    }
  }

  &__final {
    padding-top: 54px;
    max-width: 870px;

    &__header {
      font-family: $font-stack-manrope;
      font-size: 1.867em;
      letter-spacing: -0.9px;
      margin-bottom: 23px;
    }

    &__block {
      padding: 35px 50px 30px 50px;
      border: 1px solid $links-underline;
      border-radius: 20px;
    }

    &__sum {
      color: $links-gray;
      font-size: 1.133em;
      margin-bottom: 20px;
    }

    &__cost {
      height: 1em;
      font-size: 2.667em;
      font-weight: 800;
      font-family: $font-stack-manrope;
      margin-bottom: 16px;
      letter-spacing: -1px;
    }

    &__promo {
      color: $primary-links;
      border-bottom: 1px dashed $primary-links;
    }

    &__bonus {
      margin-top: 54px;
    }

    &__row {
      margin-bottom: 24px;
      display: flex;
    }

    &__label {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 10px;
      margin-left: 4px;
    }

    &__label:last-child {
      margin-bottom: 0;
      display: flex;
    }

    &__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $checkbox-background;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    &__slider::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: -5px;
      bottom: -5px;
      background-color: $primary-gray;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    &__checkbox:checked + .main__final__slider {
      background-color: #2196F3;
    }

    &__checkbox:checked + .main__final__slider::before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    &__text {
      margin: -4px 0 0 10px;
    }

    &__email {
      color: $primary-links;
      text-decoration: underline;
    }

    &__comment {
      margin-top: 30px;
      border-radius: 10px;
      background-color: $primary-background-blue;
      border: 1px solid #D2F3FE;
      height: 70px;
      padding: 15px 24px;

      &-text {
        line-height: 1.33em;
      }
    }

    &__lower {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 200px;
    }

    &__find {
      

      &-header {
        font-family: $font-stack-manrope;
        font-size: 1.33em;
        font-weight: 800;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
      }

      &-list {
        color: $list-numbers;
        padding-left: 18px;
      }

      &-item {
        font-size: 1.133em;
        line-height: 1.47;
      }

      &-str {
        color: $primary-font;
        margin: 0;
      }
    }

    &__service-code {
      text-align: center;
      margin-top: 14px;
      font-size: 1.133em;
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 220px;
  padding-top: 60px;
  width: 100%;
  background-image: url('../background-imges/footer-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  overflow: hidden;

  &__wrapper {
    padding: 0 calc(50% - 585px);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 52px;
  }

  &__bottom {
    padding-left: 4px;
    display: flex;
    z-index: 1;
  }

  &__ie {
    margin: auto 0;
    color: $primary-white;
    line-height: 1.333em;
    opacity: 0.5;
  }

  &__confidentiality {
    margin: auto 0;
    color: $primary-white;
    line-height: 1.333em;
    margin-left: auto;
    position: relative;
    opacity: 0.5;
  }

  &__website {
    margin: auto 0;
    color: $primary-white;
    line-height: 1.333em;
    margin-left: 15px;
    opacity: 0.5;
    position: relative;
  }

  &__confidentiality::after,
  &__website::after {
    @extend %underline;
    opacity: 0.15;
  }

  &__confidentiality:hover,
  &__website:hover {
    opacity: 1;
    color: $primary-white;
  }

  &__container {
    z-index: 1;
  }

  &__media {

    &-row {
      display: flex;
      margin-top: 19px;
    }

    &-link {
      margin-right: 3px;
      display: grid;
      place-items: center;
      width: 30px;
      height: 30px;
      border-radius: 7.5px;
      background-color: $primary-background-gray;
    }
  }

  &__rating {
    background-color: $primary-background-gray;
    max-width: 210px;
    height: 100px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px 15px 12px 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 10px;
      right: 10px;
      background-image: url('../background-imges/footer-link.svg');
      background-repeat: no-repeat;
    }

    &__number {
      font-family: $font-stack-manrope;
      font-size: 1.867em;
      color: $primary-white;
      letter-spacing: -0.3px;
    }

    &__stars {
      height: 20px;
      margin-left: 6px;
      width: 95px;
      background-image: url('../background-imges/rate-star.svg');
      background-position: left center;
      background-repeat: space no-repeat;
      background-size: 16px;
    }

    &__text {
      margin-top: 8px;
      color: $primary-white;
      font-size: 0.8em;
      line-height: 1.26;
    }
  }





  &-bg {

    &__left {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__center {
      position: absolute;
      top: 0;
      left: 308px
    }

    &__right {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &__top-right {
      position: absolute;
      top: 0;
      right: 407px;
    }
  }
}